<div class="central border_shadow">
  <div style="position:relative;width=67.5empx; height:38em; background-color: #333333;">
    <div id="myCarousel" class="carousel slide" style=" width: 55em; height: 36.7; margin:auto; top :1.65em" >
     <!-- Carousel indicators -->
     <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
     </ol>   
     <!-- Carousel items -->
     <div class="carousel-inner">
        <div class="item active">
                <a href="http://localhost:3000/movies/search">
           <img src="http://i.telegraph.co.uk/multimedia/archive/03235/bond_3235796b.jpg" alt="First slide" style=" width: 720x; height: 480px;" >
           </a>
        </div>
      <div class="item">
      
           <img src="http://s2.dmcdn.net/Oe6cN.jpg" alt="Second slide" style=" width: 720px; height: 480px;">

      </div>
      <div class="item">

          <img src="http://oi57.tinypic.com/28bfu3a.jpg" alt="Third slide" style=" width: 720px; height: 480px;"> 

      </div>
      <div class="item">

           <img src="http://images-cdn.moviepilot.com/image/upload/c_fill,h_1080,w_1920/t_mp_quality/h20wkj2-iron-man-vs-captain-america-who-sides-with-who-in-marvel-s-civil-war-jpeg-151871.jpg" alt="Fourth slide" style=" width: 720px; height: 480px;"> 

      </div>
      <div class="item">
          <a href="http://localhost:3000/movies">
           <img src="http://img05.deviantart.net/0220/i/2013/328/6/9/batman_vs_superman_poster__copyright__by_charliesposters-d6vflkf.png" alt="Fifth slide" style=" width: 720px; height: 480px;"> 
          </a>
      </div>
    </div>

     <!-- Carousel nav -->

     <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
     <a class="carousel-control right" href="#myCarousel" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div> 
  
  <div class="lists central border_shadow" style="position:relative; height:93em;background-color: white; top: 3.85em">
        
    <h2>Most Popular</h2>

    <ul id = "genres">
      <li style="font-size:1.5em; margin-left:3em;">Action</li>
      <li style="font-size:1.5em; margin-left:6.5em;">Comedy</li>
      <li style="font-size:1.5em; margin-left:5.5em;">Animation</li>
      <li style="font-size:1.5em; margin-left:5.5em;">Romance</li>
    </ul>
    
    <div id="Action" class="posters">
      <ol>
        <% @movies.each do |movie| %>
         <li>
            <p><%= movie.title %></p>           
            <a href="place holder"><img src ="<%= movie.urlink %>" style= "witdth:10em; height: 15em"></a>
         </li>
        <% end %>
      </ol>
    </div>

    <script>
    for(var i=0;i<5;i++){
      var text = "ol li:nth-child("+i+")";
      $(text).find("a").attr("href", "http://www.google.com/");
    }
    </script>
  </div>
</div>

