<div class="central">

  <div class="central border_shadow">

    <h2 style="padding-left:2em;padding-top: 1em">Search Results </h2>
    <hr width="85%">
    <div id="Action" class="watchlist_result">
      <ul style="list-style-type: none;">
        <% @movies.each do |m| %>
        <li>
          <div style="float: left"><%= image_tag(m.urlink)%></div>
          <div style="margin-left:16em;width:40em"><h4><%= link_to(m.title , m_path(m.movieid))%></h4>(<%=m.year%>)<br><br><p><%=m.synopsys%></p></div>
        <br>
          <hr width="770em">
       </li>
      <% end %>
      </ul>
    </div>
  </div>

